.homepage {
    display: flex;
    padding: 40px 373px 100px 373px;
    flex-direction: column;
    align-items: flex-start;
    gap: 84px;
    background: #FFF;
}
.r4 {
    width: 1226px;
    height: 80px;
    flex-shrink: 0;
}
.r6 {
    width: 1226px;
    height: 461px;
    flex-shrink: 0;
}
.r5{
    width: 603px;
    height: 441px;
    flex-shrink: 0;
}
.topmenu {
    display: flex;
    align-items: center;
    gap: 460px;
}
.logo {
    display: flex;
    width: 137px;
    height: 40px;
    padding-right: 0.878px;
    justify-content: center;
    align-items: center;
    gap: 14.792px;
}
.log {
    width: 35px;
    height: 40px;
    flex-shrink: 0;
}
.txt {
    width: 86.33px;
    height: 17.472px;
    flex-shrink: 0;
    
}
.rightmenu {
    display: flex;
    align-items: flex-start;
    gap: 14px;
}
.t {
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.t1 {
    color: #F25822;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.menutab {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.home {
    display: flex;
    width: 1174px;
    justify-content: space-between;
    align-items: flex-start;
}
.homemeta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
}
.title  {
    color: #000;
    font-family: Inter;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 72px */
}
.subtitle {
    color: #888;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 28px */
}
.buttonmeta {
    display: flex;
    align-items: center;
    gap: 48px;
    align-self: stretch;
}
.btn {
    display: flex;
    width: 140px;
    padding: 16px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 56px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}
.t2 {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.t3 {
    color: #AAA;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.pngfind {
    width: 545px;
    height: 375px;
    flex-shrink: 0;
    
   
}
.brand {
    display: flex;
    width: 1920px;
    padding: 100px 0px;
    justify-content: center;
    align-items: center;
    gap: 48px;
    background: #FFF;
}
.blogo {
    width: 1226px;
    height: 145px;
    flex-shrink: 0;
}
.logotip {
    width: 134px;
    height: 50px;
    flex-shrink: 0;
}

.bg {
    display: flex;
    width: 1174px;
    height: 507px;
    padding: 50px 373px;
    justify-content: center;
    align-items: center;
    gap: 61px;
    position: absolute;
}
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex: 1 0 0;
}
.abouttext{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    flex: 1 0 0;
}
.title2 {
    color: #000;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
    align-self: stretch;
}
.subtitle2 {
    color: #888;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
    align-self: stretch;
}
.button2 {
    display: flex;
    width: 511px;
    align-items: center;
    gap: 48px; 
}
.btn2 {
    display: flex;
    width: 140px;
    padding: 16px 10px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 56px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}
.text2 {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.macboock {
    width: 643px;
    height: 507px;
    
    
}
.features {
    display: flex;
    width: 1174px;
    height: 507px;
    padding: 700px 373px;
    justify-content: center;
    align-items: center;
    gap: 61px;
    position: absolute;
}
.features1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}
.icon {
    width: 70px;
    height: 70px;
}
.textfea1{
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.textfea2{
    width: 310px;
    height: 42px;
    color: #666;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 21px */
}
.textfea3{
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 21px */
}

.features2 {
    display: flex;
    padding: 40px 34px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}
.features3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}
.row {
    display: flex;
    width: 1256px;
    height: 200px;
}
.services {
    display: flex;
    width: 1174px;
    padding: 1200px 373px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}
.sectiontitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}
.sertitle {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 57.6px */
}
.sersubtitle {
    width: 740px;
    color: #888;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 22.4px */
}
.row2 {
    width: 378px;
    height: 542px;
}
.sevices1{
    
    display: flex;
    padding: 0px 34px 34px 34px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    
}
.sevices2{
    
    display: flex;
    padding: 0px 34px 34px 34px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}
.sevices3{
    display: flex;
    padding: 0px 34px 34px 34px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    flex: 1 0 0;
}
.iconser {
    width: 378px;
    height: 284px;
    flex-shrink: 0;
}
.downblock{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
}
.downblocktitle {
    align-self: stretch;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.downblocksubtitle{
    align-self: stretch;
    color: #666;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}
.downblocktn {
    display: flex;
    padding: 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 56px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}
.downblocktext {
    color: #FFF;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}